// 1rem to 10px
html {
  font-size: 10px;
  overflow-x: hidden;
}

// fonts setting
@font-face {
  font-family: "Centabel";
  src: url("/content/fonts/centabel.ttf");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

a {
  @apply hover:text-tertiary_BG_clr;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.207);
}

body::-webkit-scrollbar-thumb {
  @apply bg-primary_clr;
}

.cursor_circle_view {
  cursor: url("/uploads/fldCMS/svg/viewCursor.svg") 64 64, pointer;
}
