.accordian_tab {
    cursor: pointer;
    &.active {
     
        svg{
          @apply rotate-180
        }
      }
  }

  .accordian__content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s linear;

    &.active {
      max-height: 100% !important;
    }
  }



  .overview_accordian_tab{

  }