.content_with_scroll_buttons{
    .mCSB_draggerRail{
        @apply hidden
    }
    .mCSB_dragger_bar{
       background-color: black !important;
       width: 4px !important;
       opacity: 1 !important;
    }   
    .mCSB_buttonDown{
        background: url(../../../uploads/fldCMS/svg/up-arrow.svg);
        background-size: 15px;
    width: 20px;
    background-repeat: no-repeat;
    opacity: 1;
    background-position: 4px 0 !important;
    transform: rotate(180deg);
    }

.mCSB_buttonUp{
    background: url(../../../uploads/fldCMS/svg/up-arrow.svg);
    background-size: 15px;
width: 20px;
background-repeat: no-repeat;
opacity: 1;
background-position: 0px 0 !important;
}
}


