// default

.owl-dots button span {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: block;
  height: 13px;
  width: 13px;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(212 212 212 / var(--tw-bg-opacity));
}

.owl-dots button.active span {
  --tw-bg-opacity: 1;
  background-color: rgb(0 122 127 / var(--tw-bg-opacity));
}

.mobile_common_dots{
 .owl-dots {
    position: relative;
    margin-top: 40px;
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
}

.mobile_common_arrows .owl-nav {
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 50%, 0);
  bottom: 7px;
  z-index: 20;
  display: flex;
  width: 160px;
  align-items: center;
  justify-content: space-between;
}
.desktop_common_dots{
  .owl-dots {
    display: flex;
    justify-content: center;
    margin-top: 50px;
 }
 }


//
// white_Arrow_Vcenter

.white_Arrow_Vcenter {
  .owl-nav {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @apply md:bottom-[50%] bottom-0 max-[768px]:hidden;
    button {
      svg {
        @apply text-white max-[768px]:h-[50px];
      }
    }
  }
}

.center_slide {
  position: unset !important;
  .owl-item{
    opacity: 0.8;
    &.active{
      opacity: 1;
    }
  }

  .owl-stage-outer {
    overflow: visible !important;
    position: unset !important;
    .item {
      position: relative;
    
    }
  }
  .owl-nav {
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, 50%, 0);

    display: flex;
    justify-content: space-between;
    align-items: center;
    @apply lg:bottom-[50%] bottom-[7px] z-20 items-center justify-between flex lg:w-[82%] xl:w-[82%] 2xl:w-[69%] w-[160px];
    button {
      svg {
        @apply text-black ;
      }
    }
  }
  .owl-dots {
    display: flex;
    justify-content: center;
    margin-top: 40px;
 }

}


.white_bg-Arrow{
  .owl-nav {
    

    
    @apply flex justify-between items-center lg:bottom-[50%] bottom-[7px] z-20  lg:w-[100%] w-[130px] mx-auto lg:absolute lg:left-[-50%] lg:translate-x-[50%] lg:translate-y-[50%] lg:mt-0 mt-[20px];
    button.owl-prev,button.owl-next {
      @apply lg:w-[75px] w-[60px]  lg:h-[75px] h-[60px]  flex items-center justify-center bg-white opacity-60 shadow-xl;
      svg {
        @apply text-black ;
      }
    }
  }
}

.theme_dot_Hleft {
  .owl-dots {
    @apply flex md:justify-start items-center md:mt-[0px] mt-[30px] md:mr-[30px] relative;
    button {
      span {
        @apply h-[15px] w-[15px] rounded-full bg-secondary_clr block mx-2;
      }
      &.active {
        span {
          @apply bg-primary_clr;
        }
      }
    }
  }
}

.two_col_black_Arrow_Vcenter {
  .owl-nav {
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, 50%, 0);

    display: flex;
    justify-content: space-between;
    align-items: center;

    @apply md:bottom-[50%] bottom-[-50px] z-20 items-center justify-between flex min-[1800px]:w-[115%] md:w-[100%] w-[240px];
    button {
      svg {
        @apply text-black max-[768px]:h-[50px];
      }
    }
  }
}

// CUSTOM CHANGES

.featured_projects {
 
  
}

.what_we_do{
 .owl-stage-outer{
  @include LARGER_THEN_lg{
  overflow: visible !important;}
 }
 .owl-item{
  transition: 0.3s linear;
  &.center + .active{
    transform: translateX(3vw) !important;
  }
  &.active.previous-slide{
    transform: translateX(-3vw);
  }
  &.center{
    video{
      @apply 2xl:scale-x-[1.6] xl:scale-x-[1.4] lg:scale-x-[1.4] 2xl:scale-y-[2.2] xl:scale-y-[2] lg:scale-y-[1.8];
  transition: 0.3s linear;
      
    }
    .what_we_do_title{
      @apply 2xl:mt-[110px] xl:mt-[100px] lg:mt-[80px];
  transition: 0.3s linear;

      text-align: center;
    }
  }
  &.center{
  padding: 0 !important;
  }
  &{
    @apply lg:px-[2vw];
    .item{
    @apply lg:h-[160px];
    video{
      @apply lg:h-full h-[300px]
    }
    
    }
    }
 }
}

.financialPartners{
  .owl-item img{
    width: auto !important;
  }
}