//
// white_Arrow_Vcenter

.white_Arrow_Vcenter {
  .owl-nav {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @apply md:bottom-[50%] bottom-0 max-[768px]:hidden;
    button {
      svg {
        @apply text-white max-[768px]:h-[50px];
      }
    }
  }
}

.black_Arrow_Vcenter {
  .owl-nav {
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, 50%, 0);

    display: flex;
    justify-content: space-between;
    align-items: center;
    @apply md:bottom-[50%] bottom-[-50px] z-20 items-center justify-between flex  md:w-[100%] w-[240px];
    button {
      &.owl-next,
      &.owl-prev {
        background-color: rgba(255, 255, 255, 0.481) !important;
        padding: 18px 25px !important;
      }

      svg {
        @apply text-black max-[768px]:h-[30px] max-[1290px]:h-[65px] max-[1290px]:w-[65px];
      }
    }
  }

  .owl-dots {
    @apply flex justify-center md:justify-end items-center md:mt-[-60px] mt-[40px] md:mr-[30px] relative;
    button {
      span {
        @apply h-[15px] w-[15px] rounded-full md:bg-white bg-neutral-300 block mx-2;
      }
      &.active {
        span {
          @apply bg-primary_clr;
        }
      }
    }
  }
}

.theme_dot_Hleft {
  .owl-dots {
    @apply flex md:justify-start items-center md:mt-[0px] mt-[30px] md:mr-[30px] relative;
    button {
      span {
        @apply h-[15px] w-[15px] rounded-full bg-secondary_clr block mx-2;
      }
      &.active {
        span {
          @apply bg-primary_clr;
        }
      }
    }
  }
}

.two_col_black_Arrow_Vcenter {
  .owl-nav {
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, 50%, 0);

    display: flex;
    justify-content: space-between;
    align-items: center;

    @apply md:bottom-[50%] bottom-[-50px] z-20 items-center justify-between flex min-[1800px]:w-[115%] md:w-[100%] w-[240px];
    button {
      svg {
        @apply text-black max-[768px]:h-[50px];
      }
    }
  }
}

// CUSTOM CHANGES
.testimonial_slider {
  .owl-nav {
    position: absolute;
    left: unset;
    right: 0;
    transform: none !important;

    display: flex;
    justify-content: space-between;
    align-items: center;
    @apply md:bottom-[50%] bottom-[7px] z-20 items-center justify-between flex md:w-[100%] w-[70px];
    button {
      svg {
        @apply max-[768px]:h-[20px] max-[768px]:w-[20px];
      }
      &.owl-next,
      &.owl-prev {
        @include SMALLER_THEN_md {
          padding: 0 !important;
        }
      }
    }
  }
}

.featured_projects {
  position: unset !important;

  .owl-stage-outer {
    overflow: visible !important;
    position: unset !important;
  }
}
