.ribbon {
    --f: 10px; /* control the folded part*/
    --r: 15px; /* control the ribbon shape */
    
    position: absolute;

    border-bottom: var(--f) solid rgba(0, 0, 0, 0);
    color: #fff;
    line-height: 1.3em;
    filter: drop-shadow(2px 144px 151px black);
    box-shadow: 0 0 10px black;
    z-index: 10;
  }
  .left {
    top: 30px;
    border-right: var(--r) solid #0000;
    clip-path: 
      polygon(100% 0,0 0,0 calc(100% - var(--f)),100% calc(100% - var(--f)),
        calc(100% - var(--r)) calc(50% - var(--f)/2));
        &.deliverd{
          @apply bg-primary_clr
            }

            &.possision_started{
              @apply bg-tertiary_BG_clr
              
                }

                &.joint-venture{
                  @apply bg-[#D2AF6F]
                  
                    }
  }
 