// defaoult tabs styling
.tabs {
    display: flex;
  }
  
  .tablink {
    cursor: pointer;
  }
  
  .tabcontent {
    display: none;
  
  }
  

  
  .tabcontent.active {
   display: block;
}


// custom tabs hero_section
.heroSectionTabContent{

}

.heroSectionTabLinks{


    .heroSectionTabLink {
    @apply md:text-[25px] text-[20px] py-[10px] md:px-[40px] px-[20px] md:leading-[50px] leading-[30px] font-light text-white;
    &.active{
        @apply bg-white text-black;
    }
    }
}






// project overview
.overviewTabContent{

}

.overviewTabLinks{
    @apply  md:flex hidden justify-center;
.overviewTabLink{
    @apply border-r-[1px] border-secondary_border_clr text-[17px] md:leading-[40px] leading-[50px] text-[#C1C1C1] px-[20px] uppercase;
&:last-child{
    border: none;
}

&.active{
    @apply text-tertiary_clr
}

}
}


// gallery
.galleryTabLinks{
    @apply flex justify-center;
.galleryTabLink{
    @apply border-b-[2px] border-b-white md:text-[20px] text-[14px] w-max leading-[20px] md:leading-[50px] text-[#C1C1C1] md:px-[20px] px-[10px] uppercase;


&.active{
    @apply text-tertiary_clr border-b-[1px] border-b-black
}

}
}


// gallery
.partnersTabLinks{
    @apply flex justify-center;
.partnersTabLink{
    @apply border-b-[2px] border-b-white md:text-[18px] text-[14px] w-max leading-[20px] md:leading-[40px] text-[#C1C1C1] md:px-[20px] px-[10px] uppercase;


&.active{
    @apply text-tertiary_clr border-b-[1px] border-b-black
}

}
}



// yearList

@include LARGER_THEN_md{
.yearListTabLinks{
    @apply flex justify-start;
.yearListTabLink{
    @apply border-b-[2px] border-b-white md:text-[20px] text-[14px] w-max leading-[20px] md:leading-[40px] text-[#C1C1C1] md:px-[10px] px-[10px] uppercase;


&.active{
    @apply text-tertiary_clr border-b-[1px] border-b-black
}

}
}
}

// monthList


@include LARGER_THEN_md{
    .monthListTabLinks{
        @apply flex justify-start border-b-[1px] border-[#80808039] p-0;
    .monthListTabLink{
        @apply  md:text-[20px] text-[14px] w-max leading-[20px] md:leading-[40px] text-[#C1C1C1] md:px-[14px] px-[10px] capitalize;
    
    
    &.active{
        @apply text-white bg-[#808080]
    }
    
    }
    }
}
