// filter: brightness(0) invert(1);

.theme_scroll_block {

    &::-webkit-scrollbar {
        width: 5px;

      }
      
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
      }
      
      &::-webkit-scrollbar-thumb {
        @apply bg-secondary_clr rounded-lg
      }
 




      

}



//team page team member

.team_member.active{
left: 0 !important;
}