.auto_Zoom_INOUT {
  animation: auto_Zoom_INOUT 10s infinite alternate;
  @include auto_Zoom_INOUT;
}

.fadeInUp {
  @apply opacity-0;
  &.active {
    animation: fadeInUp 0.8s linear;
    animation-fill-mode: both;
    @include fadeInUp;
  }
}

.zoomIn {
  opacity: 0;
  &.active {
    animation: zoomin 0.8s linear;
    animation-fill-mode: both;
    @include zoomin;
  }
}
