//
// white_Arrow_Vcenter

.white_Arrow_Vcenter {
    .owl-nav {
        position: absolute;
        top: 40%;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;


        button {
            span {
                font-size: 130px;
                ;color: white ;
            }
        }

    }


}