footer {
  .footerNavHeading {
    @apply text-[22px] leading-[40px] text-white font-thin mb-[13px];
  }
  .footerLargeLinks {
    @apply font-centabel text-[35px] leading-[35px] text-white hover:text-themeGradient1 font-thin flex justify-start items-center;

    span {
      @apply block max-w-[190px] w-full;
    }

    &:hover {
      svg {
        transform: translateX(30px);
      }
    }

    svg {
      @apply ml-16;
    }
  }

  .footerSmallLinks {
    @apply text-[16px] text-white font-extralight leading-[20px] mb-[20px] block;
  }

  .footerOuterPadding {
    @apply py-[30px];
  }

  .footerSmallLinks {
  }


  .bg-overlay{
    animation:footerZinOut 8s linear infinite;
  }
}


@keyframes footerZinOut{
    0%{
scale: 1;
    }
    50%{
        scale: 1.1;
    }
    100%{
        scale: 1;
    }
}
